@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #4a4a4a;
}

/* START BOOTSTRAP OVERLAPPING STYLE */
.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin: 0;
  padding: 15px 0;
}

.navbar-default .navbar-brand img {
  height: 100%;
}

.navbar-nav {
  position: relative;
}

.navbar-nav::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -5%;
}

.navbar-default .navbar-nav > li > a {
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: #000;
}

.form-group {
  position: relative;
  text-align: right;
}

.form-control {
  border-radius: 50px;
  transition: all .3s;
}

.form-control:focus {
  border-color: #000;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.2);
}

.our-story .media-object {
  display: inline-block;
  height: 100%;
  margin-right: 50px;
}

.our-story .media,
.our-story .media-body {
  overflow: visible;
}

/* skills progress bar style*/
.progress {
  height: 15px;
  border-radius: 0;
  overflow: visible;
  position: relative;
  padding: 0 5px;
  background-color: #efefef;
}

.progress-bar {
  height: 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4a4a4a;
}

.circle {
  position: absolute;
  top: -7px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #fff;
  border: 5px solid #000;
}

.tooltip {
  position: relative;
  float: right;
  top: -45px !important;
  left: 48px !important;
  z-index: 99999;
}

.tooltip > .tooltip-inner {
  background-color: #000;
  border-radius: 0;
  padding: 2px 5px;
  color: #fff;
  font-size: 12px;
}

.popOver + .tooltip > .tooltip-arrow {
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
  margin-left: 0;
  top: 80%;
  left: 0 !important;
}


.our-team .thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
}

.our-team .caption {
  padding: 9px 36px;
}

.footer .nav-tabs {
  margin: 0 0 28px;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.footer .nav-tabs > li {
  display: inline-block;
  float: none;
}

.footer .nav-tabs > li> a:link,
.footer .nav-tabs > li> a:visited {
  color: #a1a1a1;
  border: none;
  background: none;
}

.footer .nav-tabs > li> a:hover,
.footer .nav-tabs > li> a:active {
  border: none;
  background: none;
  color: #000;
}

.gallery .btn-group {
  margin-bottom: 30px;
  padding: 20px 0;
  display: block;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.gallery .btn-group > .btn {
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  float: none;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #a3a3a3;
}

.gallery .btn-group > .active {
  outline: none;
  background: none;
  box-shadow: none;
  color: #000;
}

.gallery .btn-group > .btn:hover,
.gallery .btn-group > .btn:active,
.gallery .btn-group > .btn:focus {
  outline: none;
  background: none;
  box-shadow: none;
  color: #000;
}

.gallery .btn-group > .btn:not(:last-child)::before {
  content: "/\00a0";
  position: absolute;
  right: -10px;
  top: -5px;
  font-size: 30px;
  font-weight: 100;
}
/* END BOOTSTRAP OVERLAPPING STYLE */






/* SATART MASORY LAYOUT FOR PORFOLIO GALLERY */
.grid-item {
  margin-bottom: 30px;
}

/* SATART MASORY LAYOUT FOR PORFOLIO GALLERY */







/* START CUSTOM STYLE */
/* GENERAL STYLE */
.h-first,
.h-second,
.h-third,
.h-fourth {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
}

.h-second {
  margin-top: 0;
  margin-bottom: 30px;
}

.h-fourth {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

p {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}

.p-bold {
  font-size: 16px;
  font-weight: bold;
}
/*====================================================================================*/

.header {
  background: url('../images/banner_1.png') no-repeat bottom right,
            #efeff1;
  background-size: contain, cover;
  padding: 180px 0 100px;
}

.porfolio-header {
  background: url('../images/banner_2.png') no-repeat bottom right,
              #e1e1e1;
  background-size: 35%, cover;
}

.form-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 12px;
  line-height: 0;
  color: #4a4a4a;
  cursor: pointer;
}

.form-icon:hover {
  color: #000;
}

.banner-h1 {
  display: inline-block;
  background-color: #000;
  padding:0 40px;
  font-size: 48px;
  
  color: #fff !important;
}

.our-story,
.gallery {
  padding: 80px 0;
}

.skills_title {
  margin-bottom: 10px;
}

.our-team {
  padding: 0 0 80px;
}

.our-team_text {
  display: inline-block;
  padding-right: 250px;
  padding-left: 250px;
  margin-bottom: 60px;
}

.team-photo {
  width: 360px;
  height: 440px;
  background: url(../images/Rectangle1.png) no-repeat;
  background-size: cover;
  text-align: center;
}

.team-photo img {
  height: 100%;
}

/* FOOTER SECTION */
.footer {
  padding: 0 0 40px;
}

.footer-logo {
  display: inline-block;
  height: 35px;
  margin-bottom: 36px;
}

.copyright {
  text-transform: uppercase;
  margin: 0;
}

.copyright span {
  color: #000;
}

.gallery-item img {
  width: 100%;
  display: block;
}

.gallery-item {
  position: relative;
  display: inline-block;
  height: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: 0 0;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.overlay span {
  color: #e1e1e1;
  font-size: 100px;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-item:hover .overlay {
  transform: scale(1);
  opacity: 1;
}
/*====================================================================================*/

/* END CUSTOM STYLE */
